<template>
  <div class="message-container">
    <div class="message" v-bind:class="{ owner: owner }">
      <div class="author" v-if="!owner">
        Приложение
      </div>
      <div class="main-text">
        {{text}}
      </div>
      <div class="log">
        {{log}}
      </div>
    </div>
  </div>
</template>

<script>

export default ({
  props: {
    owner: Boolean,
    text: String,
    log: String,
  },
  setup() {
    
  },
})
</script>

<style scoped>
.message-container {
  padding: 0px 10px;
  margin: 5px 0px;
}
.message {
  padding: 7px;
  background-color: rgb(247, 247, 247);
  color: #232323;
  font-weight: 400;
  border-radius: 10px;
}
.owner {
  background-color: #4d70ff;
  color: #fff;
}
.first {
  border-radius: 15px 15px 5px 5px;
}
.last {
  border-radius: 5px 5px 15px 15px;
}
.log {
  text-align: right;
  font-size: 10px;
  font-weight: 100px;
}
.author {
  text-align: left;
  font-size: 13px;
  font-weight: 100px;
}
</style>
