<template>
  <div class="chat">
    <div v-for="obj in messages" v-bind:key="obj.id" class="chat-row">
      <div class="chat-column">
        <message  v-if="!obj.owner"
                  v-bind:owner="obj.owner" 
                  v-bind:text="obj.text"
                  v-bind:log="obj.log"
                  />
      </div>
      <div class="chat-column">
        <message  v-if="obj.owner"
                  v-bind:owner="obj.owner" 
                  v-bind:text="obj.text"
                  v-bind:log="obj.log"
                 />
      </div>
    </div>
  </div>
</template>

<script>
import Message from '@/components/chats/chat/Message.vue';
export default ({
  components: {
    Message
  },
  props: {
    messages: Array,
  },
  setup() {
    
  },
})
</script>

<style scoped>
.chat {
  padding-top: 20px;
  height: 550px;
}
.chat-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat-column {
  min-width: 50%;
}
</style>
