<template>
  <v-row>
    <v-col
      cols="12"
      sm="6"
    >
      <v-form
        ref="form"
      >
        <v-text-field
          v-model="name"
          label="Имя"
          required
          :rules="text_field_rules"
        ></v-text-field>

        <v-text-field
          v-model="lastname"
          label="Фамилия"
          required
          :rules="text_field_rules"
        ></v-text-field>

        <div class="age">
          <v-text-field
            v-model="age"
            label="Возраст"
            @focus="showCalendar"
            :rules="text_field_rules"
          ></v-text-field>

          <v-date-picker v-if="calendar_visible" v-model="date_birth" no-title></v-date-picker>
        </div>

        <v-text-field
          v-model="telephone_number"
          label="+7 (000) 000 00 00"
          required
          :rules="text_field_rules"
        ></v-text-field>

        <v-text-field
          v-model="login"
          label="Логин"
          required
          :rules="text_field_rules"
        ></v-text-field>

        <v-text-field
          v-model="password"
          label="Пароль"
          required
          :rules="text_field_rules"
          type='password'
        ></v-text-field>

        <v-text-field
          v-model="password_again"
          label="Пароль еще раз"
          required
          :rules="text_field_rules"
          type='password'
        ></v-text-field>

        <v-btn
          color="primary"
          class="mr-4"
          @click="submit"
        >
          Отправить
        </v-btn>

      </v-form>
    </v-col>
    <v-col
      cols="12"
      sm="6"
    >
      <fake-chat v-bind:messages="messages" class='chat' />
    </v-col>
  </v-row>
</template>

<script>
import FakeChat from "./FakeChat.vue";
export default ({
  components: {
    FakeChat,
  },
  setup() {
    
  },
  data: () => ({
    valid: true,
    name: '',
    lastname: '',
    date_birth: '',
    telephone_number: '',
    login: '',
    password: '',
    password_again: '',
    calendar_visible: false,
    text_field_rules: [
      v => !!v || 'Не может быть пустым',
    ],
    messages: [
    ]
  }),
  methods: {
    showCalendar: function() {
      this.calendar_visible = true
    },
    hideCalendar: function() {
      this.calendar_visible = false
    },
    validatePassword: function() {
      if(this.password != this.password_again) {
        const date = new Date()
        this.sendMessage("Пароли не совпадают :(", date.getHours() + ':' + date.getMinutes(), false)
        return false
      }else if (!this.password || !this.password_again) {
        const date = new Date()
        this.sendMessage("Необходимо заполнить все поля с паролями :(", date.getHours() + ':' + date.getMinutes(), false)
        return false
      }

      return true
    },
    calcAge: function() {
      let today = new Date();
      let birthDate = new Date(this.date_birth)
      var age = today.getFullYear() - birthDate.getFullYear();
      var m = today.getMonth() - birthDate.getMonth();
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) 
      {
          age--;
      }

      return age
    },
    sendMessage: function(text, log, owner) {
      this.messages.push({
        owner: owner,
        text: text,
        log: log
      })
    },
    submit: function() {
      if(this.$refs.form.validate() && this.validatePassword()){
        const user = {
          name: this.name,
          lastname: this.lastname,
          datebirth: this.date_birth,
          telephone_number: this.telephone_number,
          login: this.login,
          password: this.password,
        }

        const now = new Date
        this.sendMessage('Готово!', now.getHours() + ':' + now.getMinutes() , true)

        this.$store.dispatch('auth/register', user).then(
          () => {
            const message = 'Регистрация прошла успешно. ' + user.name + ', добро пожаловать в приложение! Для начала рабоыт перейдите в гланое меню, или посетите свой профиль: http://127.0.0.1/profile'
            console.log(message) 
            this.sendMessage(message, now.getHours() + ':' + now.getMinutes() , false)
          },
          (error) => {
            const message = error.response.data.message
            console.log(message) 
            this.sendMessage(message, now.getHours() + ':' + now.getMinutes() , false)
          }
        )
      }
    }
  },
  computed: {
    age: function() {
      return this.calcAge() || ''
    }
  }
})
</script>

<style scoped>
.chat {
  overflow: auto; 
  max-height: 600px;
}
</style>
