<template>
  <div class="login">
    <div class="form">
      <v-overlay
        :absolute=true
        :value="process_request"
        :opacity="opacity"
      >
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-overlay>
      <v-form
        ref="form"
      >
        <v-text-field
          v-model="login"
          label="логин"
          required
          :rules="text_field_rules"
        ></v-text-field>
        <v-text-field
          v-model="password"
          label="Пароль"
          required
          type='password'
          :rules="text_field_rules"
        ></v-text-field>
        <div v-if="message" class="msg-error">
          {{message}}
        </div>
        <v-btn
          color="primary"
          class="mr-4"
          @click="submit"
        >
          Войти
        </v-btn>
      </v-form>
    </div>
  </div>
  
</template>

<script>
import { mapState } from 'vuex';
export default ({
  setup() {
    
  },
  data: () => ({
    login: '',
    password: '',
    message: '',
    process_request: false,
    opacity: .1,
    text_field_rules: [
      v => !!v || 'Не может быть пустым',
    ],
  }),
  computed: {
    ...mapState({
      loggedIn: state => state.auth.status.loggedIn
    })
  },
  methods: {
    submit: function() {
      this.process_request = true
      let self = this
      const user = {
        login: this.login,
        password: this.password,
      }
      this.$store.dispatch('auth/login', user).then(
        () => {
          this.$router.push('/');
          self.process_request = false
        },
        (error) => {
          const response = error.response.data
          self.message = response.message
          self.process_request = false
        }
      )
    }
  }
})
</script>

<style scoped>
.login {
  padding-top: 130px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.form {
  width: 400px;
}
.msg-error {
  margin: 10px 0;
  color: #ff934b;
}
</style>