<template>
    <v-app-bar
      app
      color="white"
      flat
    >
      <v-avatar
        :color="$vuetify.breakpoint.smAndDown ? 'grey darken-1' : 'transparent'"
        size="32"
      ></v-avatar>

      <v-tabs
        centered
        class="ml-n9"
        color="grey darken-1"
      >
        <v-tab
          v-for="link in links"
          :key="link"
        >
          {{ link }}
        </v-tab>
      </v-tabs>
      <UserMenu/>
    </v-app-bar>
</template>

<script>
import UserMenu from './UserMenu.vue';
export default ({
  components: {
    UserMenu,
  },
  setup() {

  },
  data: () => ({
    links: [
      'Сообщения',
      'Профиль',
      'Настройки',
    ],
  }),
})
</script>
