<template>
  <div class="text-center">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-list-item-avatar>
          <v-img
            src="https://cdn.vuetifyjs.com/images/john.jpg"
            alt="John"
            v-bind="attrs"
            v-on="on"
          >
          </v-img>
        </v-list-item-avatar>
      </template>
      <v-card>
          <v-list>
            <v-list-item
              link
              to="/"
              v-if='currentUser'
            >
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title >Профиль</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item
              link
              to="/signup"
              v-if='!currentUser'
            >
              <v-list-item-icon>
                <v-icon>mdi-account-plus-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title >Регистрация</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item
              link
              @click="logout"
              v-if='currentUser'
            >
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title >Выход</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item
              link
              to="/login"
              v-if='!currentUser'
            >
              <v-list-item-icon>
                <v-icon>mdi-login</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title >Вход</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
export default ({
  setup() {
    
  },
  data: () => ({
    menu: false,
  }),
  methods: {
    logout: function() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  }
})
</script>

<style scoped>

</style>