<template>
  <div class="blank">
    <h1>Раздел в процессе разработки</h1>
  </div>
</template>

<script>
export default ({
  setup() {
    
  },
})
</script>

<style>
.blank {
  text-align: center;
  padding-top: 290px;
}
</style>