<template>
  <v-col
    cols="12"
    sm="8"
  >
    <v-sheet
      min-height="70vh"
      rounded="lg"
    >
      <div class="main-content">
        <router-view></router-view>
      </div>
    </v-sheet>
  </v-col>
</template>

<script>
export default ({
  setup() {
    
  },
})
</script>

<style scoped>
.main-content {
  padding: 40px;
}
</style>