<template>
  <v-col
    cols="12"
    sm="2"
  >
    <v-sheet
      v-if="currentUser"
      rounded="lg"
      min-height="268"
    >
      <!--  -->
    </v-sheet>
  </v-col>
</template>

<script>
  export default ({
    setup() {
      
    },
    computed: {
      currentUser() {
        return this.$store.state.auth.user;
      },
    }
  })
</script>
