<template>
  <v-app id="inspire">
    <Header/>
    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <Chats/>
          <Main/>
          <Members/>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Header from './components/header/Header.vue';
import Chats from './components/chats/Chats.vue';
import Members from "./components/members/Members.vue";
import Main from "./components/Main.vue";
export default {
  name: 'App',

  components: {
    Header,
    Chats,
    Members,
    Main,
  },

  data: () => ({
  }),
};
</script>
